body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

a.nav-link.ml-4.mr-4 {
  width: 100%;
}

a.nav-link.ml-4.mr-4.active {
  background-color: #32a1a8;
  color: #fff;
}

.navbar .nav-item.active {
  background-color: #e5e7e8;
  color: #258745;
}

.nav.nav-tabs .nav-link.active {
  background-color: #e5e7e8;
  color: #258745;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  height: 1px;
  background-color:lightseagreen;
}

.avatar {
  height: 110px;
}
.rather-text {
  height: 30px;
  padding: 10px 0;
}

.result {
  height: 150px;
  padding: 22px;
  border-style: groove;
  border-radius: 8px;
  margin: 5px 0;
}

.result.voted {
  background: #c3dcdb;
}

button.btn.btn-primary {
  background-color: #e5e7e8;
  color: #258745;
}

.new-question-container {
  margin: 70px 200px;
}

.btn-view-poll {
  width: 100%;
  background-color: #e5e7e8;
  color: #258745;
}

.media img {
  margin: 0px 80px;
}

.score-list {
  list-style-type: none;

}

.score-heading {
  border: 1px groove;
  height: 50px;
  padding: 15px 28px
}

.score-value {
  border: 1px groove;
  height: 80px;
  padding: 27px 23px 0px 20px;
}

.score-value .value {
  border: 1px groove;
  padding: 25px;
  border-radius: 30px;
  background-color: #39b9c0;
}
