body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}
.nav.nav-tabs .nav-link.active {
  background-color: #107126;
  color: #fff;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  height: 1px;
  background-color:lightseagreen;
}

.avatar {
  height: 110px;
}

/*.question {*/
/*  width: 100%;*/
/*  max-width: 590px;*/
/*  padding: 10px;*/
/*  display: flex;*/
/*  margin: 0 auto;*/
/*  border: 1px solid #dad7d7;*/
/*  border-radius: 3px;*/
/*  cursor: pointer;*/
/*}*/

/*.question-info {*/
/*  margin: 10px;*/
/*  display: inline-block;*/
/*  flex-direction: column;*/
/*}*/

/*span.author {*/
/*  width: 100%;*/
/*  display: inline-block;*/
/*  border: 1px solid #dad7d7;*/
/*  order-radius: 5px;*/
/*}*/

/*.question-info .question-header {*/
/*  font-weight: bold;*/
/*  margin-right: 5px;*/
/*}*/
